# Este arquivo foi populado para facilitar a avaliação do processo seletivo, no dia a dia ele estaria com os campos em branco, somente com o ID do campo para conhecimento de onde é utilizado e onde ser preenchido
LOGIN_EMAIL=teste2021@teste.com.br
LOGIN_PASSWORD=teste
TRELLO_ACTION_ID=592f11060f95a3d3d46a987a